name: Secret Sync

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Sync Secrets
        uses: jpoehnelt/secrets-sync-action@v1.10.0
        with:
          secrets: |
            ^RELEASE_PLEASE_TOKEN$
          repositories: |
            mikesmitty/beacon-dcc
            mikesmitty/chilly-boy
            mikesmitty/docker-rtlamr-collect
            mikesmitty/file-search
            mikesmitty/mdns-mesh
            mikesmitty/power-manifold
            mikesmitty/rp24-dcc-decoder
            mikesmitty/rtl-sdr
            mikesmitty/sht4x
            mikesmitty/voron-mods
            mikesmitty/whisper-wyoming-openvino
          github_token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          concurrency: 10
        env:
          RELEASE_PLEASE_TOKEN: ${{ secrets.RELEASE_PLEASE_TOKEN }}
